---
# template: 3.9.0
name: "Test/TestManSH/Bash Opt"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  DEV_CICD_DEBUG: ${{ vars.DEV_CICD_DEBUG || 'NONE' }}
  DEV_CICD_DEBUG_BASH: ${{ vars.DEV_CICD_DEBUG_BASH || '' }}
  BL64_LIB_CICD: ${{ vars.BL64_LIB_CICD || 'YES' }}

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "feature/**"
      - "release/**"
    paths:
      - "src/*-api-*"
      - "src/*-arc-*"
      - "src/*-cryp-*"
      - "src/*-fmt-*"
      - "src/*-log-*"
      - "src/*-pkg-*"
      - "src/*-py-*"
      - "src/*-rbac-*"
      - "src/*-rxtx-*"
      - "src/*-tm-*"
      - "src/*-vcs-*"
      - "src/*-xsv-*"
      - "test/batscore/bash-opt/**"

jobs:
  test-testmansh-bash-opt:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        target:
          - "BASH_OPT"
    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v5"
        with:
          path: |
            ./lib/bl64
            ./lib/inst64
            ./lib/testmansh
          key: "dev-tools"

      - name: "Download tools"
        run: |
          ./bin/dev-lib-base &&
          ./bin/dev-lib-testmansh


      - name: "Prepare for testing"
        run : |
          ./bin/dev-build-project &&
          ./bin/dev-prep-project

      - name: "Run tests"
        shell: 'script -q -e -c "bash {0}"'
        run: |
          source ./bin/dev-set &&
          source ./bin/dev-env-project &&
          ./bin/dev-test-testmansh "$DEV_TEST_TESTMANSH_CONTAINER_${{matrix.target}}" "$DEV_TEST_TESTMANSH_CASES_BASH_OPT"
...
